# Maven
target
hs_err_pid*.log

# Eclipse
.settings
.classpath
.project

# CMake
CMakeFiles
CMakeCache.txt
Makefile
cmake_install.cmake

# Eclipse CDT
.cproject
.project

# Project specific
expected.log
bin
