# Maven
/target

# Eclipse
.settings
.classpath
.project

# CMake
/src/test/data/CMakeFiles
/src/test/data/CMakeCache.txt
/src/test/data/Makefile
/src/test/data/cmake_install.cmake

# Eclipse CDT
/src/test/data/.cproject
/src/test/data/.project

# Files
*.exe