# Project specific
expected.log
bin

# Eclipse
.settings
.classpath
.project

# Eclipse CDT
.cproject
.project

# IntelliJ IDEA
*.iml
.idea

# Maven
target
hs_err_pid*.log

# CMake
CMakeFiles
CMakeCache.txt
Makefile
cmake_install.cmake
